---
- hosts: all

  vars_files:
    - ../common/base_vars.yaml

  tasks:
    - name: create slave directory
      file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ slave_path_user_home }}"
        - "{{ slave_path_mds_home }}"
        - "{{ slave_path_mds_home_art }}"
        - "{{ slave_path_mds_home_logs }}"
        - "{{ slave_path_mds_home_txlog }}"
        - "{{ slave_path_mds_home_data }}"
        - "{{ slave_path_mds_home_data_flags }}"
        - "{{ slave_path_mds_home_data_exchange }}"
        - "{{ slave_path_mds_home_data_monitor }}"

    - name: copy mds files to slave
      synchronize:
        src: "{{ local_path_mds_home_bin_colodir }}/"
        dest: "{{ slave_path_mds_home }}/"

    - name: copy common cfg file
      synchronize:
        src: "{{ local_path_mds_home_config_all }}/"
        dest: "{{ slave_path_mds_home_conf }}/"

    - name: copy mds conf to slave
      synchronize:
        src: "{{ local_path_mds_home_config_specdir }}/"
        dest: "{{ slave_path_mds_home_conf }}/"
        
    - name: copy script to mds
      synchronize:
        src: "{{ local_path_script_home_slave }}/"
        dest: "{{ slave_path_mds_home_art }}/"