---
- hosts: all

  vars_files:
    - ../common/base_vars.yml

  tasks:
    - name: stop mds
      command: ./mds stop -F
      args:
        chdir: "{{ slave_path_mds_home_bin }}"
      ignore_errors: yes

    - name: mkdir mds home
      file:
        path: "{{ slave_path_mds_home }}"
        state: directory
        mode: 0755

    - name: unarchive mds package
      unarchive:
        src: "{{ slave_path_user_home }}/{{ pkg_name }}_{{ version }}.tar.gz"
        dest: "{{ slave_path_mds_home }}"
        remote_src: yes
