---

- name: Check if receiver onload function is already disabled
  shell: |
    grep -q "^#receiver.startupExe" "{{ slave_path_oes_home_conf }}/system.conf"
  register: receiver_check
  ignore_errors: yes
  when: node_role == "master"
  run_once: true

- name: Report if onload function is already disabled
  debug:
    msg: "receiver进程onload功能已经是关闭状态, 不需要重启服务, 请检查配置."
  when: receiver_check.rc == 0
  delegate_to: 127.0.0.1
  run_once: true
  
- name: Disable receiver onload function
  shell: |
    sed -i '/^receiver.startupExe/,+2 s/^/#/' "{{ slave_path_oes_home_conf }}/system.conf"
  when: receiver_check.rc != 0 and node_role == "master"

- name: Show message about disabling onload function
  debug:
    msg: "已关闭receiver的onload功能,即将进行重启操作."
  delegate_to: 127.0.0.1
  run_once: true
  when: receiver_check.rc != 0

- name: Wait for 5 seconds before restart
  wait_for:
    timeout: 5
  when: receiver_check.rc != 0

- name: Restart receiver service
  shell: |
    cd {{ slave_path_oes_home_bin }} && ./receiver sp -F && ./receiver st
  when: receiver_check.rc != 0 and node_role == "master"

- name: Show completion message
  debug:
    msg: "receiver进程重启完成, 请检查."
  delegate_to: 127.0.0.1
  run_once: true
  when: receiver_check.rc != 0
