---
- hosts: all

  vars_files:
    - ../common/base_vars.yml

  tasks:
    - name: init mds runner nodes
      set_fact:
        mds_runner_nodes: "{{ (runner_nodes | default('master,follow,arbiter')).split(',') }}"
      delegate_to: 127.0.0.1
      run_once: true

    - name: display mds runner nodes
      debug:
        var: mds_runner_nodes 
      delegate_to: 127.0.0.1
      run_once: true

    - name: load_data
      command: ./mds ts -k {{ task_name }} -S {{ task_status }}
      args:
        chdir: "{{ slave_path_mds_home_bin }}"
      when: node_role in mds_runner_nodes
