---
- hosts: all

  vars_files:
    - ../common/base_vars.yaml

  tasks:
    - name: stop oes
      command: ./oes stop -F
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      ignore_errors: yes

    - name: find oes package exclude txlog
      find:
        paths: "{{ slave_path_oes_home }}"
        file_type: any
        recurse: yes
        excludes: txlog
      register: files_to_backup

    - name: archive oes package
      archive:
        path: "{{ files_to_backup.files | map(attribute='path') | list }}"
        dest: "{{ slave_path_user_home }}/{{ pkg_name }}_{{ version }}.tar.gz"
        remove: False
        format: gz
