---
- hosts: all

  vars_files:
    - ../common/base_vars.yaml

  tasks:
    - name: stop oes
      command: ./oes stop -F
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      ignore_errors: yes

    - name: find oes package exclude txlog
      find:
        paths: "{{ slave_path_oes_home }}"
        file_type: any
        recurse: yes
        excludes: txlog
      register: files_to_backup

    - name: archive oes package
      archive:
        path: "{{ files_to_backup.files | map(attribute='path') | list }}"
        dest: "{{ slave_path_user_home }}/{{ pkg_name }}_{{ version }}.tar.gz"
        remove: False
        format: gz

    - name: get datetime
      command: 'date +%Y%m%d-%H%M%S'
      register: curr_time
      delegate_to: 127.0.0.1
      run_once: true

    - name: save oes package archive to backup dir
      copy:
        src: "{{ slave_path_user_home }}/{{ pkg_name }}_{{ version }}.tar.gz"
        dest: "{{ slave_backup_path }}/{{ pkg_name }}_{{ version }}_{{ curr_time.stdout.strip() }}.tar.gz"
