---
- hosts: all

  vars_files:
    - ../common/base_vars.yaml

  tasks:
    - name: create slave directory
      file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ slave_path_user_home }}"
        - "{{ slave_path_oes_home }}"
        - "{{ slave_path_oes_home_art }}"
        - "{{ slave_path_oes_home_logs }}"
        - "{{ slave_path_oes_home_conf }}"
        - "{{ slave_path_oes_home_data }}"
        - "{{ slave_path_oes_home_data_flags }}"
        - "{{ slave_path_oes_home_data_exchange }}"
        - "{{ slave_path_oes_home_data_monitor }}"

    - name: copy oes files to slave
      synchronize:
        src: "{{ local_path_oes_home_bin_colodir }}/"
        dest: "{{ slave_path_oes_home }}/"

    - name: copy common cfg file
      synchronize:
        src: "{{ local_path_oes_home_config_all }}/"
        dest: "{{ slave_path_oes_home_conf }}/"

    - name: copy oes conf to slave
      synchronize:
        src: "{{ local_path_oes_home_config_specdir }}/"
        dest: "{{ slave_path_oes_home_conf }}/"

    - name: copy script to oes
      synchronize:
        src: "{{ local_path_script_home_slave }}/"
        dest: "{{ slave_path_oes_home_art }}/"
