---
- hosts: all

  vars_files:
    - ../common/base_vars.yml

  tasks:
    - name: stop oes
      command: ./oes stop -F
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      ignore_errors: yes

    - name: mkdir oes home
      file:
        path: "{{ slave_path_oes_home }}"
        state: directory
        mode: 0755

    - name: unarchive oes package
      unarchive:
        src: "{{ slave_path_user_home }}/{{ pkg_name }}_{{ version }}.tar.gz"
        dest: "{{ slave_path_oes_home }}"
        remote_src: yes
