---
- hosts: all

  vars_files:
    - ../common/base_vars.yml

  tasks:
    - name: stop sse tdgw mtp declarer
      command: ./sse_tdgw_mtp_declarer stop
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      when: node_role == 'master' or node_role == 'follow'

    - name: stop ezoes declarer
      command: ./ezoes_declarer stop
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      when: node_role == 'master' or node_role == 'follow'

    - name: ezoes declarer fallback
      command: ./ezoes_declarer fallback
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      when: node_role == 'master' or node_role == 'follow'

    - name: start ezoes declarer
      command: ./ezoes_declarer start
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      when: node_role == 'master' or node_role == 'follow'