---
- hosts: all

  vars_files:
    - ../common/base_vars.yaml

  tasks:
    - name: stop ezoes declarer
      command: ./ezoes_declarer stop
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      when: node_role == 'master'

    - name: init oes runner nodes
      shell: |
        sed -i 's/^oiw.0.enable = .*/oiw.0.enable = no/g' system.conf
        sed -i 's/^oiw.1.enable = .*/oiw.1.enable = yes/g' system.conf;
      delegate_to: 127.0.0.1
      run_once: true

    - name: start ezoes declarer
      command: ./ezoes_declarer start
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      when: node_role == 'master'
