---
- hosts: all

  vars_files:
    - ../common/base_vars.yml

  tasks:
    - name: init oes runner nodes
      set_fact:
        oes_runner_nodes: "{{ (runner_nodes | default('master,follow,arbiter')).split(',') }}"
      delegate_to: 127.0.0.1
      run_once: true

    - name: load_data
      command: ./oes ts -k {{ task_name }} -S {{ task_status }}
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      when: node_role in oes_runner_nodes
