###################### 说明  ####################
#  带{{}}， 特殊符号和数字的变量需要加双引号
#  集群设置和系统设置后需要执行cmd/configure.sh， 其他配置修改即生效
#  为了保证生成的定时任务时间格式上统一， 请添加英文双引号
#  时间设置如下：
#  {{ curr_date }}      当前程序获取时间， 可在TradingDate.yml中配置，格式%Y%m%d
#  {{ pre_trd_date }}   当前程序获取时间的上一个交易日， 格式%Y%m%d
#  {{ next_trd_date }}   当前程序获取时间的下一个交易日， 格式%Y%m%d
#################################################

###################### mon设置 #################
mon_cp_to_conf_files: []                               # mon 拷贝至conf目录下列表， name 支持使用正则

mon_check_files_list:
  - "ClientInfo.csv"
  - "TradingCalendar.csv"
  - "TradingDate.txt"
###################### mon设置 #################

###################### bse设置 #################
bse_host: "192.168.11.189"
bse_port: 22
bse_user: "monuser"
gateway_path_root_exchange_bse: /mnt/quant360/import/bse

bse_cp_files_list:
  - "NQXX.DBF"

bse_check_files_list:
  - "NQXX.DBF"
###################### bse设置 #################

###################### sse设置 #################
sse_host: "192.168.11.189"
sse_port: 22
sse_user: "monuser"
gateway_path_root_exchange_sse: /mnt/quant360/import/sse

sse_cp_files_list:
  - "cpxx0201{{ curr_date[4:] }}.txt"
  - "cpxx0202{{ curr_date[4:] }}.txt"
  - "dbp{{ curr_date[4:] }}.txt"
  - "reff03{{ curr_date[4:] }}.txt"
  - "reff0302{{ curr_date }}.xml"
  - "gzlx.{{ gzlx_mm.stdout[:-1].lstrip('0') }}{{ curr_date[-2:] }}"
  - "bondinfo{{ curr_date }}.txt"
  - "bondinfo{{ curr_date }}.zip"
  - "archive_bondinfo{{ curr_date }}.zip"

sse_check_files_list:
  - "cpxx0201{{ curr_date[4:] }}.txt"
  - "cpxx0202{{ curr_date[4:] }}.txt"
  - "dbp{{ curr_date[4:] }}.txt"
  - "reff0302{{ curr_date }}.xml"
  - "gzlx.{{ gzlx_mm.stdout[:-1].lstrip('0') }}{{ curr_date[-2:] }}"
  - "bondinfo{{ curr_date }}.txt"
###################### sse设置 #################

###################### szse设置 ################
szse_host: "192.168.11.189"
szse_port: 22
szse_user: "monuser"
gateway_path_root_exchange_szse: /mnt/quant360/import/szse

szse_cp_files_list:
  - "cashauctionparams_{{ curr_date }}.xml"
  - "securities_{{ curr_date }}.xml"
  - "derivativeauctionparams_{{ curr_date }}.xml"
  - "bondtradingparams_{{ curr_date }}.xml"
  - "bondrepoparams_{{ curr_date }}.xml"

szse_check_files_list:
  - "cashauctionparams_{{ curr_date }}.xml"
  - "securities_{{ curr_date }}.xml"
  - "derivativeauctionparams_{{ curr_date }}.xml"
###################### szse设置 ################

################# 备份配置  #####################
is_clear_old_backup_files: "no"                          # 是否启用清除指定的历史文件
clear_old_backup_datas: 30                               # 指定的历史文件保留天数
clear_old_backup_key_word_list:                          # 清除历史文件关键字列表
  - "txlog"

mds_clear_dir_before_backup:                             # 备份前清空的目录， 清除目录必须为mds节点的相对路径
  - "storage/tickdata"                                   # 例：绝对路径为/home/mdsuser/host_01/mds/storage/tickdata

art_mds_backup_list:
  - bkup_src: "{{ local_path_mds_home_flag_colodir }}"
    bkup_name: "art_mds_flag"
    src_remove: "yes"

backup_list:
  - bkup_src: "{{ slave_path_mds_home_data }}"
    bkup_name: "data"
    src_remove: "yes"
  - bkup_src: "{{ slave_path_mds_home_logs }}"
    bkup_name: "logs"
    src_remove: "yes"
  - bkup_src: "{{ slave_path_mds_home_conf }}"
    bkup_name: "conf"
    src_remove: "no"

backup_multi_list:
  - bkup_src: "{{ slave_path_mds_home_txlog }}"
    bkup_name: "txlog"
    src_remove: "yes"
################# 备份配置  #####################

################ 日常运维计划任务默认时间 #######################
corntab:  # 仅用于脚本注册，实际执行时间以数据库为准
  - mon: "30 6 * * 1-5"
  - bse: "2 8 * * 1-5"
  - sse: "5 8 * * 1-5"
  - szse: "36 7 * * 1-5"
  - backup: "0 20 * * 1-5"
################ 日常运维计划任务默认时间 #######################

##################### 灾备配置 ##############
is_enable_zb: "no"                                 # 是否启用灾备环境
zb_host: "xx.xx.xx.xx"                             # 灾备机器的ip
zb_port: 22                                        # 灾备机器的连接端口
zb_user: "mdsuser"                                 # 灾备机器的远程用户名
zb_path: "/home/mdsuser/host_01/mds"               # 灾备机器环境部署的路径
zb_dir: "data"                                     # 需要灾备的文件夹(多个用不能带空格的,隔开)
###########################################

###################### umds设置 #################
umds_enable: false
umds_host: "192.168.11.189"
umds_port: 22
umds_user: "monuser"
umds_cp_files_list:
  - "ClientInfo.csv"
umds_deploy_path: "/home/monuser/umds"
###################### umds设置 #################
