---
- hosts: all

  vars_files:
    - ../common/base_vars.yaml

  tasks:
    - name: init oes runner nodes
      set_fact:
        oes_runner_nodes: "{{ (runner_nodes | default('master,follow,arbiter')).split(',') }}"
      delegate_to: 127.0.0.1
      run_once: true

    - name: display oes runner nodes
      debug:
        var: oes_runner_nodes 
      delegate_to: 127.0.0.1
      run_once: true

    - name: oes reset
      command: ./oes reset -Y -F
      args:
        chdir: "{{ slave_path_oes_home_bin }}"
      when: node_role in oes_runner_nodes
