---
- hosts: all

  vars_files:
    - ../common/base_vars.yml

  tasks:
    - name: stop mon
      command: sh stop.sh
      args:
        chdir: "{{ slave_path_mon_home }}"

    - name: create mon backup directory
      file:
        path: "{{ slave_backup_path }}"
        state: directory

    - name: archive mon package
      archive:
        path: "{{ slave_path_mon_home }}"
        dest: "{{ slave_backup_path }}/mon.tar.gz"
        remove: False
        format: gz